<div class="hud-cnt">
    <div class="hud-score">
        <span class="hud-score-item hud-score-player">0</span>
        |
        <span class="hud-score-item hud-score-ai">0</span>
    </div>
    <div class="hud-border hud-pause-play hud--play">Pause</div>
</div>