<div class="menu-cnt">
    <h1>Ultimate Ping Pong!</h1>

    <ul class="menu-list">
        <li id="menu-item-play" class="menu-item">
            <span class="menu-item-text">Play</span>
        </li>
    </ul>
</div>